@media only screen and (min-width: 600px) {

  .about {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    position: absolute;
    height: calc(100vh + 75px);
    width: 100vw;
    background-color: #D4DFC7;
  }

  .atop,
  .abottom,
  .aright,
  .aleft {
    background-color: white;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 3;
  }

  .atop, .abottom {
    height: 10vh;
    width: 100vw;
  }

  .atop {
    top: 75px;
  }

  .abottom {
    top: calc(80vh + 75px);
  }

  .aleft, .aright {
    top: 75px;
    width: 10vw;
    height: 100vh;
  }

  .aleft {
    left: 5vw;
  }

  .aright {
    right: 5vw;
  }

}