@media only screen and (min-width: 600px) {

  .Footer {
    background-color: #d4dfc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transform: translate(0vw, calc(90vh + 75px));
  }

  .Footer p {
    font-size: 12px;
    color: #274C77;
    font-family: sans-serif;
  }

  .footerContainer {
    margin-top: -25px;
    justify-content: space-between;
    display: flex;
    width: 50vw;
    height: 75px;
  }

  .divider::after {
    position: absolute;
    top: 35px;
    right: 50vw;
    content: "";
    height: 35px;
    width: 2px;
    background: #274C77;
  }
}