.blogBody {
  padding: 0;
  margin: 0;
  top: 50px;
  left: 0px;
  position: absolute;
  background: #d4dfc7;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bTop {
  position: absolute;
  background-color: white;
  padding: 0;
  height: 50px;
  width: 100vw;
  z-index: 2;
  display: flex;
}

.hoverP {
  margin-top: 12px;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 12px;
}

.hoverP::before,
.hoverP::after {
  content: "";
  position: absolute;
  top: 2px;
  height: 35px;
  width: 100%;
  background: #6096ba;
  pointer-events: none;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 350ms, 1000ms;
}

.hoverP::before {
  left: 0;
  -webkit-transform: translate(0px, 0px);
  opacity: 0;
}

.hoverP::after {
  right: 0;
  -webkit-transform: translate(0px, 0px);
  opacity: 0;
}

.hoverP:hover::before {
  left: 0;
  -webkit-transform: translate(2px, 6px);
  opacity: 0.2;
}

.hoverP:hover::after {
  left: 0;
  -webkit-transform: translate(-2px, 10px);
  opacity: 0.2;
}

.hoverPatty,
.hoverBuena,
.hoverSteort,
.hoverVector,
.hoverStandard,
.hoverOutside {
  height: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  color: #274c77;
  display: flex;
  flex-direction: row;
}

.pattyImg,
.buenaImg,
.steortImg,
.vectorImg,
.standardImg,
.outsideImg {
  position: absolute;
  display: flex;
  top: 0px;
  left: 160px;
  pointer-events: none;
  opacity: 0;
  width: 100vw;
  -webkit-transition-property: opacity;
  -webkit-transition-delay: 250ms;
  -webkit-transition-duration: 500ms;
}

.vectorImg {
  -webkit-transform: translate(0vw, -35px);
}

.buenaImg {
  -webkit-transform: translate(0vw, -70px);
}

.steortImg {
  -webkit-transform: translate(0vw, -105px);
}

.standardImg {
  -webkit-transform: translate(0vw, -140px);
}

.outsideImg {
  -webkit-transform: translate(0vw, -175px);
}

.pattyImg img,
.buenaImg img,
.steortImg img,
.vectorImg img,
.standardImg img,
.outsideImg img {
  margin-left: 10px;
}

.hoverPatty:hover .pattyImg,
.hoverBuena:hover .buenaImg,
.hoverSteort:hover .steortImg,
.hoverVector:hover .vectorImg,
.hoverStandard:hover .standardImg,
.hoverOutside:hover .outsideImg {
  opacity: 1;
}
